ex2/node-red/flows.json
[
    {
        "id": "596379e5694ddf14",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45ff42ddfb2ea1fe",
        "type": "mqtt in",
        "z": "596379e5694ddf14",
        "name": "Sensor",
        "topic": "esp32/sensors/dht22",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "18fe72f1c42bf590",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "854ae38e33e56087"
            ]
        ]
    },
    {
        "id": "854ae38e33e56087",
        "type": "json",
        "z": "596379e5694ddf14",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "6441734fcc43fad1",
                "187430f4e495a9e2"
            ]
        ]
    },
    {
        "id": "1e699f3808faf9f4",
        "type": "ui_chart",
        "z": "596379e5694ddf14",
        "name": "",
        "group": "44d7f2083b8e8e14",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6441734fcc43fad1",
        "type": "function",
        "z": "596379e5694ddf14",
        "name": "function 1",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "1e699f3808faf9f4",
                "efad7c622c88162c"
            ]
        ]
    },
    {
        "id": "efad7c622c88162c",
        "type": "debug",
        "z": "596379e5694ddf14",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "187430f4e495a9e2",
        "type": "function",
        "z": "596379e5694ddf14",
        "name": "function 2",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "c1cd575ee287040a"
            ]
        ]
    },
    {
        "id": "c1cd575ee287040a",
        "type": "ui_chart",
        "z": "596379e5694ddf14",
        "name": "",
        "group": "44d7f2083b8e8e14",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "957266217098eb3b",
        "type": "ui_slider",
        "z": "596379e5694ddf14",
        "name": "",
        "label": "RPM Setpoint: {{value}} rpm",
        "tooltip": "",
        "group": "950945a3b4f2434b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-400",
        "max": "400",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "cdb7fe836a79f459"
            ]
        ]
    },
    {
        "id": "cdb7fe836a79f459",
        "type": "function",
        "z": "596379e5694ddf14",
        "name": "function 3",
        "func": "msg.payload = {\n    rpm: msg.payload\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 420,
        "wires": [
            [
                "f46454b4fb646432"
            ]
        ]
    },
    {
        "id": "f46454b4fb646432",
        "type": "mqtt out",
        "z": "596379e5694ddf14",
        "name": "Motor",
        "topic": "esp32/control/rpm",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c9e59f5503024771",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "18fe72f1c42bf590",
        "type": "mqtt-broker",
        "name": "Credenciales",
        "broker": "89e7d56a6e334cb5846a7e9442890433.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "c23cae87f22f9868",
        "clientid": "Test_user2",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44d7f2083b8e8e14",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "d91566a310837ef8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "950945a3b4f2434b",
        "type": "ui_group",
        "name": "rpm",
        "tab": "70b1d7f084995e3d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9e59f5503024771",
        "type": "mqtt-broker",
        "name": "",
        "broker": "89e7d56a6e334cb5846a7e9442890433.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "a271f0c539c1204d",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c23cae87f22f9868",
        "type": "tls-config",
        "name": "hivemq-tls",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "d91566a310837ef8",
        "type": "ui_tab",
        "name": "ESP32 dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "70b1d7f084995e3d",
        "type": "ui_tab",
        "name": "rpm",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a271f0c539c1204d",
        "type": "tls-config",
        "name": "hivemlq-tls",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "12268826db3edfea",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]